.container {
  display: flex;
  align-items: center;
}

.clearBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  color: #999;
  cursor: pointer;
  padding: 4px;
  line-height: 1;

  &:hover {
    color: #666;
  }
}


.btnGroup {
  height: 36px;

  &>button {
    height: 36px;
  }
}